body{
	margin: 0px;
	margin-top: 20px;
}

.containerTop{
	margin: 0px auto;
	width: 1000px;
	font-family: 'Archivo', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.menu{
	background-color: #222931;
	font-size: 12px;
	width: 950px;
	height: 50px;
	color: white;
	padding-top: 1px;
}

.header{
	z-index: -1;
	background-image: url("img/header.jpg");
	width: 100%;
	height: 575px;
	position: absolute;
	top: 75px;
}

.containerMiddle{
	margin: 0px auto;
	width: 1000px;
	margin-top: 25%;
}

.bannerDiv{
	width: 300px;
	text-align: center;
	float: left;
	margin-left: 1.5%;
}

li{
	display: inline;
	float: left;
	margin-right: 20px;
}