.container{
	margin: 0px auto;
	width: 1000px;
}

p, h1, li{
	color: white;
	font-family: 'Archivo';
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

/* menu */

li:hover, a:hover{
	background-color: #ffe718;
	color: black;
}

.menu{
	margin-left: 25px;
	background-color: #222931;
	width: 950px;
	height: 35px;
}

.menu ol{
	height: 20px;
}

.menu li, .menu a{
	font-size: 12px;
	padding: 4px;
	margin-left: 20px;
	float: left;
	display: inline;
	font-weight: 500;
}

.menu a{
	text-decoration: none;
	color: white;
	padding: 0px;
	margin-left: 10px;
}

.menu svg{
	width: 20px;
	height: 20px;
	float: right;
}

.dropdown-content{
  	display: none;
  	position: absolute;
  	background-color: #222931;
 	width: 160px;
 	height: 115px;
 	z-index: 1;
 	margin-top: 4px;
}

.dropdown-content li, .dropdown-content a{
	margin-left: 0px;
	font-size: 16px;
  	display: block;
  	font-weight: 500;
  	float: none;
}

.dropdown-content ol{
	height: 80px;
}

.dropdown:hover .dropdown-content {display: block;}

/* large pictures */

.pictureClass{
	position: absolute;
	z-index: -1;
	width: 100%;
	left: 0px;
}

#header{
	top: 70px;
}

#footer{
	top: 1250px;
}

/* boxes */

.containerBoxesGeneral{
	margin: 0px auto;
	width: 1000px;
	grid-template-rows: 300px, 300px, 300px;
}

.containerBoxes{
	margin-top: 625px;
}

.containerBoxes2{
	margin-top: 1420px;
}

.containerBoxes3{
	margin-top: 350px;
}

.containerBoxesGeneral svg{
	width: 125px;
	height: 90px;
	float: left;
}

.containerBoxesGeneral h1{
	color: black;
	font-size: 22px;
	font-weight: 600;
	float: left;
}

.containerBoxesGeneral p{
	color: black;
	font-size: 14px;
	font-weight: 600;
	float: left;
}

.box1{
	margin-left: 33px;
	grid-row: 1/2;
}

.box2{
	margin-left: 17.5px;
	margin-right: 17.5px;
	grid-row: 2/3;
}

.box3{
	grid-row: 3/4;
}

#box1, #box2, #box3{
	text-align: center;
	float: left;
	height: 220px;
	background-color: rgb(0, 0, 0);
}

#box1 p, #box2 p, #box3 p{
	opacity: 0;
	color: white;
	font-size: 32px;
	font-weight: 600;
	position: relative;
	z-index: 1;
	bottom: 150px;
}

#box4, #box5, #box6{
	background-color: #ffe718;
	width: 300px;
	height: 100px;
	padding-top: 10px;
	float: left;
}

/* ribbon */

.ribbon{
	background-color: #ffe718;
	height: 150px;
	margin-top: 50px;
	width: 100%;
	left: 0px;
}

.ribbon p{
	color: #222931;
	margin-left: 10px;
	margin-top: 65px;
	float: left;
	font-size: 16px;
	font-weight: 700;
}

.ribbon h1{
	color: #222931;
	margin-left: 200px;
	margin-top: 60px;
	float: left;
	font-size: 34px;
	font-weight: 700;
}

.ribbon button{
	color: #222931;
	width: 200px;
	height: 40px;
	margin-left: 700px;
	margin-top: 55px;
	float: left;
	font-size: 12px;
	font-weight: 500;
}

/* bottom text divs */

.container2{
	margin-bottom: 200px;
	padding-top: 200px;
	margin: 0px auto;
	width: 1000px;
}

.textFooter1{
	float: left;
	width: 500px;
}

.textFooter2{
	float: right;
	width: 160px;
	margin-right: 170px;
}

.container2 h1, .footerMijnNaam h1{
	color: black;
	font-size: 24px;
	font-weight: 600;
}

.container2 p, .footerMijnNaam p{
	color: black;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.textFooter2 p{
	margin-top: 0px;
	text-align: center;
}

.textFooter2 svg{
	float: left;
	margin-bottom: 5px;
	color: #aeb6be;
	height: 30px;
	width: 20px;
}

.footerMijnNaam{
	margin-top: 270px;
	background-color: #222931;
	width: 100%;
	height: 60px;
}

.footerMijnNaam p{
	color: white;
	float: right;
	margin-right: 200px;
	margin-top: 23px;
}

/* textDiv */

.textDiv{
	margin-top: 650px !important;
	width: 900px;
	margin: 0px auto;
}

.textDiv h1{
	color: black;
	font-size: 34px;
	font-weight: 
}

.textDiv p{
	color: black;
}

#textHover1, #textHover2, #textHover3{
	color: yellow;
}

.dropdown-content2, .dropdown-content3, .dropdown-content4{
  	display: none;
  	position: absolute;
  	background-color: #222931;
 	width: 50px;
 	height: 50px;
 	z-index: 1;
 	margin-top: 4px;
}

#textHover1:hover .dropdown-content2 {display: block;}
#textHover2:hover .dropdown-content3 {display: block;}
#textHover3:hover .dropdown-content4 {display: block;}