.container{
	margin: 0px auto;
	width: 1000px;
}

p, h1, li{
	color: white;
	font-family: 'Archivo';
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

/* menu */

li:hover{
	background-color: #ffe718;
	color: black;
}

.menu{
	margin-left: 25px;
	background-color: #222931;
	width: 950px;
	height: 35px;
}

.menu ol{
	height: 20px;
}

.menu li{
	font-size: 12px;
	padding: 4px;
	margin-left: 20px;
	float: left;
	display: inline;
	font-weight: 500;
}

.menu svg{
	width: 20px;
	height: 20px;
	float: right;
}

.dropdown-content{
  	display: none;
  	position: absolute;
  	background-color: #222931;
 	width: 160px;
 	height: 115px;
 	z-index: 1;
 	margin-top: 4px;
}

.dropdown-content li{
	margin-left: 0px;
	font-size: 16px;
  	display: block;
  	font-weight: 500;
  	float: none;
}

.dropdown-content ol{
	height: 80px;
}

.dropdown:hover .dropdown-content {display: block;}

/* large pictures */

.pictureClass{
	position: absolute;
	z-index: -1;
	width: 100%;
	left: 0px;
}

#header{
	top: 70px;
}

#footer{
	top: 1250px;
}

/* boxes */

.containerBoxesGeneral{
	margin: 0px auto;
	width: 1000px;
	grid-template-rows: 300px, 300px, 300px;
}

.containerBoxes{
	margin-top: 625px;
}

.containerBoxes2{
	margin-top: 1420px;
}

.containerBoxes2 svg{
	width: 125px;
	height: 90px;
	float: left;
}

.containerBoxes2 h1{
	color: black;
	font-size: 22px;
	font-weight: 600;
	float: left;
}

.containerBoxes2 p{
	color: black;
	font-size: 14px;
	font-weight: 600;
	float: left;
}

.box1{
	margin-left: 33px;
	grid-row: 1/2;
}

.box2{
	margin-left: 17.5px;
	margin-right: 17.5px;
	grid-row: 2/3;
}

.box3{
	grid-row: 3/4;
}

#box1, #box2, #box3{
	text-align: center;
	float: left;
	height: 220px;
	background-color: rgb(0, 0, 0);
}

#box1 p, #box2 p, #box3 p{
	opacity: 0;
	color: white;
	font-size: 32px;
	font-weight: 600;
	position: relative;
	z-index: 1;
	bottom: 150px;
}

#box4, #box5, #box6{
	background-color: #ffe718;
	width: 300px;
	height: 100px;
	padding-top: 10px;
	float: left;
}

/* ribbon */

.ribbon{
	background-color: #ffe718;
	height: 150px;
	top: 1000px;
	position: absolute;
	width: 100%;
	left: 0px;
}

.ribbon p{
	color: #222931;
	margin-left: 10px;
	margin-top: 65px;
	float: left;
	font-size: 16px;
	font-weight: 700;
}

.ribbon h1{
	color: #222931;
	margin-left: 200px;
	margin-top: 60px;
	float: left;
	font-size: 34px;
	font-weight: 700;
}

.ribbon button{
	color: #222931;
	width: 200px;
	height: 40px;
	margin-left: 700px;
	margin-top: 55px;
	float: left;
	font-size: 12px;
	font-weight: 500;
}

/* bottom text divs */

.textDiv1{

}

.textDiv1 h1{
	font-size: 24px;
	font-weight: 600;
}